<div class="d-flex justify-content-end col-md-12 mx-auto">
  <h2 class="accordion-header px-3 m-2" id="headingOne">
    <button class="accordion-button add-btn p-2 btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
     Add
    </button>
  </h2>

</div>


  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form [formGroup]="addForm">
            <div class="row col-md-12">
              <h3>Details</h3>
              <div class="form-group col-md-6">
                <label for="inputEmail4">car no.</label>
                <input type="text" class="form-control" formControlName="car_no" maxLength="6" placeholder="car no." title="Must contain first 3 - letters A-Z, last 3 numbers" [pattern]="carPattern">
                <!-- <div *ngIf="addForm.value.car_no.errors?.pattern">
                  car number are not valid.
             </div>  -->
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputAddress2">Car Owner Name</label>
                <input type="text" class="form-control" formControlName="owner_name" placeholder="Owner Name">
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success" (click)="onAdd()"><i class="fa fa-add"></i>Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    

  </div>
  
<table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">car number</th>
        <th scope="col">car owner name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody [formGroup]="editForm">
      <tr *ngFor="let item of carDetail;let i = index">
        
        <td>
          <div *ngIf="!item.isEdit">{{item.car_no}}</div>
          <div *ngIf="item.isEdit">
            <input type="text" formControlName="car_no"></div>
        </td>
        <td>
          <div *ngIf="!item.isEdit">
            {{item.owner_name}}
          </div>
          <div *ngIf="item.isEdit"><input type="text" formControlName="owner_name"></div>
        </td>
        <td>
          
          <!-- <i class="fa-solid fa-pen-to-square btn-success"></i>
          <i class="fa-solid fa-trash btn-danger"></i> -->
          <div *ngIf="item.isEdit">
            <i class="fa fa-save text-success mr-2" (click)="updateCarDetails(i)"></i>
            <i class="fa text-danger fa-close" (click)="item.isEdit=false"></i>
          </div>
          <div *ngIf="!item.isEdit">
               <i class="fa fa-trash text-danger mr-2" (click)="remove(item)"></i>
              <i class="fa fa-pencil text-success" (click)="onEdit(item,i)"></i>
            </div>
        </td>
      </tr>
     
    </tbody>
  </table>

  
